img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.waviy {
  position: relative;
  text-align: center;
}
.waviy span {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  animation: flip 5s infinite;
  animation-delay: calc(0.3s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
